@import "$lib/styles/variables.css";
@import "$lib/styles/animations.css";
@import "$lib/styles/tooltips.css";
@import "$lib/styles/overlays.css";
@import "$lib/styles/layout.css";
@import "$lib/styles/components.css";
@import "$lib/styles/theme-transition.css";
@import "$lib/styles/accessibility.css";

html,
body {
  overflow: hidden;
  margin: 0;
}
:focus-visible {
  outline: none !important;
}
